# CAP threaddit
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/webapp/node_modules/
/app/webapp/.pnp
/app/webapp/.pnp.js
/app/webapp/.yarn/install-state.gz

# testing
/app/webapp/coverage/

# next.js
/app/webapp/.next/
/app/webapp/out/

# production
/app/webapp/build/

# misc
/app/webapp/.DS_Store
/app/webapp/**/*.pem

# debug
/app/webapp/npm-debug.log*
/app/webapp/yarn-debug.log*
/app/webapp/yarn-error.log*

# local env files
/app/webapp/.env*.local

# vercel
/app/webapp/.vercel

# typescript
/app/webapp/**/*.tsbuildinfo
/app/webapp/next-env.d.ts
